body {
    font-family: Open Sans,Helvetica,Arial,sans-serif;

    /* https://ux.stackexchange.com/questions/211/is-there-an-optimal-font-size */
    /* https://kyleschaeffer.com/css-font-size-em-vs-px-vs-pt-vs-percent */
    font-size: 120%;
    line-height: 1.8em;
    background-color: #dee3ed;
}

ARTICLE {
    /* https://ux.stackexchange.com/questions/3618/ideal-column-width-for-paragraphs-online */
    max-width: 80ch;
    margin: auto;
}

.prose {
    UL {
        padding-left: 1em;
    }
}
