/* I wish to follow as much as possible the https://brutalist-web.design/ recommandations */
/* https://hslpicker.com/ */
:root {
    /* Sizes */
    --type-base: calc(0.8em + 0.5vw);
    --page-width: 60rem;
}

:root[data-theme="light"] {
    /* Colors */
    --background-color: white;
    --text-color: hsl(200, 29%, 16%);
    --link-text-color: hsl(200, 29%, 16%);
    --link-text-visited-color: hsl(200, 29%, 16%);
    --link-text-decoration: underline;

    --heading-h1-text-color: hsl(200, 0%, 20%);
    --heading-h2-h3-h4-text-color: hsl(200, 0%, 40%);

    --header-anchor-color: hsl(0, 0%, 40%);
    --header-anchor-color-hover: hsl(0, 0%, 80%);

    --toc-text-color: hsl(0, 0%, 60%);
    --toc-text-active-color: hsl(0, 0%, 80%);
    --toc-left-line-color: hsl(0, 0%, 40%);
    --toc-left-active-line-color: hsl(0, 0%, 70%);

    --reaction-inset-background-color: hsl(200, 10%, 70%);
    --reaction-inset-heading-h2-h3-h4-text-color: hsl(200, 0%, 20%);;
    --quoted-background-color: hsl(204, 0%, 80%);
    --code-in-quoted-background-color: hsl(204, 5%, 90%);

    --theme-icon-sun-display: none;
    --theme-icon-moon-display: block;
    --table-zebra-theme-odd-row-background-color: #f2f2f2;
    --table-zebra-theme-even-row-background-color: #fff;
}

:root[data-theme="dark"] {
    /* Colors */
    --background-color: hsl(204, 20%, 10%);
    --quoted-background-color: hsl(204, 10%, 15%);
    --code-in-quoted-background-color: hsl(204, 10%, 20%);

    --text-color: hsl(200, 20%, 70%);
    --link-text-color: hsl(200, 10%, 70%);
    --link-text-visited-color: hsl(200, 10%, 70%);
    --link-text-decoration: underline;

    --heading-h1-text-color: hsl(0, 0%, 90%);
    --heading-h2-h3-h4-text-color: hsl(0, 0%, 80%);
    --header-anchor-color: hsl(0, 0%, 40%);
    --header-anchor-color-hover: hsl(0, 0%, 80%);

    --toc-text-color: hsl(0, 0%, 60%);
    --toc-text-active-color: hsl(0, 0%, 80%);
    --toc-left-line-color: hsl(0, 0%, 40%);
    --toc-left-active-line-color: hsl(0, 0%, 70%);

    --reaction-inset-background-color: hsl(200, 10%, 15%);
    --reaction-inset-heading-h2-h3-h4-text-color: hsl(200, 10%, 80%);;

    --theme-icon-sun-display: block;
    --theme-icon-moon-display: none;

    --table-zebra-theme-odd-row-background-color: #333;
    --table-zebra-theme-even-row-background-color: #222;
}

#theme-toggle svg {
    height:24px
}
#moon {
    display: var(--theme-icon-moon-display);
}
#sun {
    color: var(--text-color);
    display: var(--theme-icon-sun-display);
}
button#theme-toggle {
    font-size:26px;
    margin:auto 4px;
    cursor: pointer;
    border: 0;
    background: none;
}

HTML {
    font-family: serif;
    scroll-behavior: smooth;
    font-size: var(--type-base);
    line-height: 1.5em;
    color: var(--text-color);

}

BODY {
    min-height: 100vh;

    /* https://ux.stackexchange.com/questions/211/is-there-an-optimal-font-size */
    /* https://kyleschaeffer.com/css-font-size-em-vs-px-vs-pt-vs-percent */
    /*
    @media (min-width: 60rem) {
        font-size: 120%;
    }
    */
    background-color: var(--background-color);
    max-width: var(--page-width);
    margin: auto;
    padding: 0;
}

ARTICLE {
    margin: 1rem;

    HEADER.narrow-screen {
        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        NAV {
            padding-top: 1rem;
            padding-bottom: 2rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            font-size: 120%;

            A {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .bar {
            border-style: solid;
            border-color: var(--text-color);
            border-width: 1px;
            height: 0;
            margin-bottom: 2rem;
        }
    }
    HEADER.wide-screen {
        display: none;
    }
    @media (min-width: 40rem) {
        HEADER.narrow-screen {
            display: none;
        }
        HEADER.wide-screen {
            display: flex;
            flex-wrap: no-wrap;
            flex-direction: row;
            align-items: center;

            NAV {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 0.5em;
                width: 100%;
                margin-left: 1rem;
                font-size: 80%;
                > *:last-child {
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }
    }

    UL {
        padding-left: 2rem;

        LI {
            margin-bottom: 0.5em;
        }
    }

    .article-metadata {
        margin: 0;
        font-size: 80%;
        display: flex;
        flex-direction: row;
    }

    MAIN {
        margin: 1rem 0;
    }

    FOOTER {
        margin-top: 4rem;
        font-size: 80%;
    }
}

H1 {
    color: var(--heading-h1-text-color);
    margin: 0;
}
H2, H3, H4 {
    color: var(--heading-h2-h3-h4-text-color);
}
H1, H2, H3, H4 {
    .header-anchor {
        font-size: 0.6em;
        color: var(--header-anchor-color);
        &:hover {
            color: var(--header-anchor-color-hover);
        }
    }
}

A {
    color: var(--link-text-color);
    text-decoration: var(--link-text-decoration);

    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: var(--link-text-visited-color);
    }
}

SMALL {
    font-size: 0.8em;
}

BLOCKQUOTE {
    margin: 0 -2em;
    padding: 1em 2em;
    background-color: var(--quoted-background-color);
}

CODE {
    background-color: var(--quoted-background-color);
}

BLOCKQUOTE PRE, BLOCKQUOTE CODE {
    background-color: var(--code-in-quoted-background-color);
}

BLOCKQUOTE PRE {
    padding: 1em;
}

PRE {
    overflow: scroll;
    line-height: 1.4em;
    font-family: monospace;
    font-size: 0.8em;
}

.reaction-inset {
    margin: 0 -2em;
    margin-top: 2em;
    padding: 1em 2em;
    background-color: var(--reaction-inset-background-color);

    H3 {
        color: var(--reaction-inset-heading-h2-h3-h4-text-color);
    }
}
